{{!< default}}

<main class="site-main">

    <div class="post-feed gh-feed gh-canvas">
        {{#if @member}}
            {{#foreach posts}}
                {{> "loop"}}
            {{/foreach}}
        {{/if}}
    </div>
    {{#if @member}}
        {{pagination}}
    {{/if}}

</main>